<div class="contact-container" id="contact">
  <div class="row">
    <div class="container">
      <h1 class="title">Conact Us</h1>
      <div class="col-md-6 contact-map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917.2409652710044!2d-78.89369168521746!3d43.01531497914834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d36c294d523037%3A0xffbaf1f15e52c071!2sAdam%20St%2C%20Tonawanda%2C%20NY%2014150%2C%20USA!5e0!3m2!1sen!2seg!4v1597255163693!5m2!1sen!2seg"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

      </div>
      <div class="col-md-6">
        <form class="needs-validation">
          <div class="row contact-details-wrapper">
            <div class="col-md-5 contact-details">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <label>A108 Adam Street, NY 535022</label>
          </div>
          <div class="col-md-4 contact-details">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <label>info@example.com</label>
        </div>
        <div class="col-md-3 contact-details">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <label>+1 5589 55488</label>
      </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <input type="text"  class="form-control" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 mb-3">
              <input type="email" class="form-control" placeholder="Your Email" required>
            </div>
            <div class="col-md-12 mb-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Subject" required>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <textarea class="form-control" placeholder="Message" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="contact-form-btn-container">
            <button class="btn btn-primary" type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
