<div class="why-container">
  <div class="row">
    <div class="container">
      <h1 class="title">Why choose us?</h1>
      <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, beatae adipisci. Esse, eligendi asperiores. Eos, molestiae! Aspernatur maxime repellat ab, quod</p>
    </div>
  </div>

  <div class="row">
    <div class="container why-container-boxes">
      <div class="col-md-4 why-container-box">
        <i class="icon fa fa-diamond fa-3x" aria-hidden="true"></i>
        <h1 class="why-us-title">lorem ipsum</h1>
        <p class="why-us-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, iure fugiat consequuntur modi velit magni eos debitis reprehenderit</p>
        <a class="read-more" href="#">Read more</a>
      </div>
      <div class="col-md-4 why-container-box">
        <i class="icon fa fa-language fa-3x" aria-hidden="true"></i>
        <h1 class="why-us-title">lorem ipsum</h1>
        <p class="why-us-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, iure fugiat consequuntur modi velit magni eos debitis reprehenderit</p>
        <a class="read-more" href="#">Read more</a>
      </div>
      <div class="col-md-4 why-container-box">
        <i class="icon fa fa-object-group fa-3x" aria-hidden="true"></i>
        <h1 class="why-us-title">lorem ipsum</h1>
        <p class="why-us-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, iure fugiat consequuntur modi velit magni eos debitis reprehenderit</p>
        <a class="read-more" href="#">Read more</a>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="container">
      <div class="col-md-3">
        <h1 class="title-num">
          274
        </h1>
        <p class="why-us-description">Clients</p>
      </div>
      <div class="col-md-3">
        <h1 class="title-num">
          421
        </h1>
        <p class="why-us-description">Projects</p>
      </div>
      <div class="col-md-3">
        <h1 class="title-num">
          1,364
        </h1>
        <p class="why-us-description">Hours Of Support</p>
      </div>
      <div class="col-md-3">
        <h1 class="title-num">
          18
        </h1>
        <p class="why-us-description">Hard Workers</p>
      </div>

    </div>
  </div>
</div>
