.portfolio-container{

}
.portfolio-img-wrapper{
  position: relative;
  cursor: pointer;
}
.portfolio-img-wrapper .portfolio-img-tooltip{
  display: none;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  text-align: center;
  background-color: rgba(46, 115, 190, 0.5);
  color: #fff;
  z-index: 100;
}
.portfolio-img-wrapper:hover .portfolio-img-tooltip{
  display: block;
}
.portfolio-img-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.portfolio-img-icons a{
  background-color: #007BFF;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 0 10px;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
.portfolio-tabs{
  text-align: center;
}
.nav-pills{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-link{
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #ECF5FF;
  color: #007BFF;
  margin: 0 10px;
}
.nav-link.active{
  background-color: #007BFF;
  color: #fff;
}
.nav-link:hover{
  background-color: #007BFF;
  color: #fff;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.portfolio-images{
  display: flex;
  justify-content: center;
}
