<div class="team-container" id="team">
  <div class="row">
    <div class="container">
      <h1 class="title">Team</h1>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="row">
    <div class="container team-wrapper">
      <img class="col-md-3 team-img" src="assets/images/team-1.jpg" alt="team-member-1"/>
      <img class="col-md-3 team-img" src="assets/images/team-2.jpg" alt="team-member-2"/>
      <img class="col-md-3 team-img" src="assets/images/team-3.jpg" alt="team-member-3"/>
      <img class="col-md-3 team-img" src="assets/images/team-4.jpg" alt="team-member-4"/>
    </div>
  </div>
</div>
