<div class="clients-container" id="clients">
  <div class="row">
    <div class="container">
      <h1 class="title">Our CLients</h1>
      <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
    </div>
    <div class="container clients-images-container">
      <div class="row">
        <div class="clients-img col-md-3"><img src="assets/images/clients/client-1.png"/></div>
        <div class="clients-img col-md-3"><img src="assets/images/clients/client-2.png"/></div>
        <div class="clients-img col-md-3"><img src="assets/images/clients/client-3.png"/></div>
        <div class="clients-img col-md-3"><img src="assets/images/clients/client-4.png"/></div>
      </div>
      <div class="row">
        <div class="clients-img col-md-3"><img src="assets/images/clients/client-5.png"/></div>
        <div class="clients-img col-md-3"><img src="assets/images/clients/client-6.png"/></div>
        <div class="clients-img col-md-3"><img src="assets/images/clients/client-7.png"/></div>
        <div class="clients-img col-md-3"><img src="assets/images/clients/client-8.png"/></div>
      </div>
    </div>
  </div>
</div>
