  <div class="intro-container" id="intro">
  <div class="row">
    <div class="container intro-content">
    <div class="col-md-6">
    <div class="intro-left-section">
      <p class="white-bold"> {{"WE_PROVIDE" | translate}} </p>
      <a class="blue-bold"> {{"SOLUTIONS" | translate}} </a>
      <p class="white-bold"> {{"FOR_YOUR_BUSINESS" | translate}} </p>
      <div class="intro-inner-buttons d-flex flex-row">
        <button type="button" class="btn btn-primary"> {{"GET_STARTED" | translate}} </button>
        <button type="button" class="btn btn-outline-light"> {{"OUR_SERVICES" | translate}} </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
      <img class="intro-img-style" src="assets/images/intro-img.svg" />
  </div>
  </div>
  </div>
  </div>

