.intro-container{
  background-image: URL("assets/images/intro-bg.png");
  width: 100%;
  height: calc(100% - 60px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.intro-container .row{
  height: 100%;
}
.intro-content{
  display: flex;
  align-items: center;
}
.intro-left-section p{
  margin: 0;
}
.intro-inner-buttons{
  margin-top: 20px;
}
.intro-img-style{
  width: 100%;
}
.btn.btn-primary{
  border-radius: 5in;
  width: 12rem;
  height: 1.5cm;
}
.btn.btn-outline-light{
  border-radius: 5in;
  margin-left: 10%;
  width: 12rem;
}
