.testimonials-container{
  background-color: #ECF5FF;
  margin-top: 40px;
  padding: 0 0 40px 0;
  box-shadow: inset 1px 0 10px rgba(0, 0, 0, 0.1);
}
.carousel{
  margin: 0 40px;
}
.carousel-caption{
  /* position: unset !important; */
  margin-top: 20px;
  text-align: left;
  padding: 0 !important;
  top: 0;
  left: 220px;
}
.carousel-indicators{
  /* position: unset; */
}
.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ccc !important;
}
.carousel-indicators li.active{
  background-color: #007BFF !important;
}
.carousel-item{
  min-height: 150px;
  padding: 0 100px;
}
.carousel-item img{
  border-radius: 100%;
  width: 100px !important;
  height: 100px;
}
.testimonial-name{
  color: black;
  margin-bottom: 5px;
}
.testimonial-position{
  color: #ccc;
}
.testimonial-description{
  color: black;
  font-style: italic;
}
@media screen and (max-width: 575px) {
  .carousel-item{
    padding: 0;
  }
  .carousel-item img{
    margin: 0 auto;
  }
  .carousel-caption{
    width: 100%;
    left: 0;
    text-align: center;
    height: 100px;
    position: unset;
  }
  .carousel-indicators{
    position: unset;
  }
}
