.testimonials-container{
  background-color: #ECF5FF;
  margin-top: 40px;
  padding: 0 0 40px 0;
  box-shadow: inset 1px 0 10px rgba(0, 0, 0, 0.1);
}
.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ccc !important;
}
.carousel-indicators li.active{
  background-color: #007BFF !important;
}
.carousel-item img{
  border-radius: 100%;
  width: 100px !important;
  height: 100px;
}
